
/* Nav */
nav {
    width: 100%;
    max-width: 100%;
    height: 75px;
    background-color: #001d3d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Arimo", sans-serif;
    
    font-family: "Zalando", sans-serif;

}
nav div { 
    width: 270px;
    height: 60px;
    border-radius: 5px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3em;
    font-weight: bold;
}
nav ul {
    text-align: right;
}
nav ul li {
    display: inline;
    padding-right: 20px;
}

nav ul li a:hover{
   color: #fdc500;;
}
nav a:link {
    font-size: 1.1em;
    
}
nav img{
    width: 50px;
}

nav ul li img{
    width: 20px;
}

/* Footer */
footer  {
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #001d3d;
    text-align: center; 
    
}
footer p {
    font-size: 1.1em;
}


/* index.php */
main {
    
    width: 100%;
    height: auto;
    padding: 20px;
    font-family: "Arimo", sans-serif;
    background-color: #eee7e7;
    min-height: 100vh;
}

#div1{
    
    width: 100%;
    height: 200px;
    margin-bottom: 20px; /* Pushes out  */
    padding: 20px; /* Pushes in */
    background: linear-gradient(340deg, #6aafff, #131eb3);
}
#div1 h1{
color: #eee7e7;
font-weight: bold;
font-size: 2em;
}
#div1 p{
color: #eee7e7;
font-size: 1.3em;
  font-family: "Zalando Sans Expanded", sans-serif;

}

#div2{
    
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}
#div2 div{
    width: 300px;
    height: 320px;
    background-color: #ffffff ;
    /* border: 1px solid #60606080; */
    border-radius: 0px;
    display: flex;
    
    flex-direction: column;
    padding: 8px;
    box-shadow: 10px 10px 5px rgba(28, 28, 28, 0.152);
}

#div2 div:hover {
  transform: scale(1.1);
  transition-duration: .3s;
}
#div2 h2{
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    margin-top: 6px;
    font-family: "Zalando Sans Expanded", sans-serif;
    margin-bottom: 2px;
}

#div2 p{
    font-weight: bold;
    font-size: .9em;
    color: rgb(61, 61, 61);
    font-family: "Zalando Sans Expanded", sans-serif;

}


