
/* Nav */
nav {
    width: 100%;
    max-width: 100%;
    height: 40px;
    background-color: #696969;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav div { 
    border: 2px solid rgb(0, 255, 242); /* Remove */
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-left: 20px;
}
nav ul {
    text-align: right;
}
nav ul li {
    display: inline;
    padding-right: 20px;
}
nav a:link {
    font-size: 1.1em;
    
}

/* Footer */
footer  {
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #696969;
    text-align: center; 
    
}
footer p {
    font-size: 1.1em;
}


/* index.php */
main {
    border: 2px solid rgb(68, 158, 255);/* Remove */
    width: 100%;
    height: 1000px;
    padding: 20px;
}
div {
    border-radius: 3px;
}
#div1{
    border: 2px solid rgb(34, 104, 25);/* Remove */
    width: 100%;
    height: 200px;
    margin-bottom: 20px; /* Pushes out  */
    padding: 20px; /* Pushes in */
}
#div2{
    border: 2px solid rgb(104, 25, 25);/* Remove */
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    padding: 20px;
}

/* CSS Gird  */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two collums that fill the full width of the dic */
  gap: 10px;
}

.box {
  border: 1px solid #692b88;
  padding: 20px;
  height: 200px;
}


